.sidebar-nav #sidebarnav .sidebar-item.selected > .sidebar-link {
    border-radius: 0px 60px 60px 0px;
    color: #fff !important;
    background: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
    box-shadow: 0px 7px 12px 0px rgba(95, 118, 232, 0.21);
    opacity: 1; }
